body {
  margin: 0px 100px;
}

body>header>h1 {
  text-align: center;
  font-size: 50px;
  padding: 20px 0px;
  color: orange;
  border-bottom: 1px solid gray;
}

.board {
  border: 1px solid gray;
  padding: 50px;
  background-color: rgba(250, 235, 215, 0.622);
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hole {
  height: 200px;
  aspect-ratio: 1;
  border-radius: 50%;
  display: inline-block;
  background-color: white;
  margin: 5px;
  box-shadow: 3px 3px rgb(250, 235, 215);
}

.hole:hover {
  cursor: pointer;
}

.mouse {
  background: transparent;
  position: fixed;
  top: -10px;
  left: 0px;
}

.background {
  background-image: url('./mouse.png');
  background-size: 100% 100%;
}

main {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.stat-bar {
  text-align: center;
  width: 200px;
  font-size: 20px;
}

.bg-red {
  background-color: rgba(255, 0, 0, 0.2) !important;
}

.bg-green {
  background-color: rgba(0, 128, 0, 0.2) !important;
}

button:hover {
  cursor: pointer;
  font-size: 15px;
}

button {
  width: 100%;
  border: none;
  color: black;
  margin: 10px 0px;
  height: 30px;
}

button:disabled {
  background-color: rgba(220, 220, 220, 0.314);
  color: rgba(128, 128, 128, 0.476);
}

.bt-green:disabled {
  background-color: #01bf1a31;
}

.bt-green {
  border: none;
  background-color: #01bf1b;
}

.level,
.score {
  font-size: 80px;
  font-weight: bold;
  text-align: center;
  display: block;
}